body {
    background-color: #4bb6df;
}

h1 {
  text-align: center;
}

footer {
	position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
  width: 100%;
  background-color: #606365;
  color: white;
  text-align: center;
}


#grid_container {
	display: grid;
	grid-template-areas:
  'header'
  'menu'
  'left'
  'main'
  'right';
	grid-gap: 2px;
	background-color: #606365;
	padding: 10px;
}

@media (min-width: 600px){
    #grid_container{
      grid-template-areas:
      'header header menu menu'
  		'left main main main'
      'right right right right';
    }
  }

  @media (min-width: 900px){
    #grid_container{
      grid-template-areas:
      'header header menu menu menu'
  		'left main main main right';
    }
  }

#grid_container > div {
	background-color: white;
	text-align: center;
	padding: 20px 0;
}

#grid_container > section {
	background-color: #2278c7;
	text-align: center;
	padding: 20px 0;
}

#main_header {
	grid-area: header;
	font-size: 24px;
	color: black;
	text-align: center;
	background-color: #bdb4a5;
	margin: 0 0 0 0;
}


#menu {
	grid-area: menu;
}

#education {
}

#projects {
}

#employment {
}

#left {
	grid-area: left;
}

#main {
	grid-area: main;
}

#right {
	grid-area: right;
}
